[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gaussplotR"]
	path = gaussplotR
	url = https://github.com/vbaliga/gaussplotr
	shallow = true
	registered = true
